.circle {
  width: 200px;
  height: 200px;

  margin-top: 35px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-image: var(--gradient__circle);

  @media (max-width: 768px) {
    width: 140px;
    height: 140px;
  }
}

.circle__value {
  color: var(--color__white);

  font-size: 72px;
  font-weight: 800;

  @media (max-width: 768px) {
    font-size: 56px;
  }
}

.circle__description {
  margin-top: 4px;
  opacity: 0.5168;

  color: var(--color__light-lavender);

  font-size: 18px;
  font-weight: 700;

  @media (max-width: 768px) {
    margin-top: 0;

    font-size: 16px;
  }
}

